
# App Config
APP_ENV=development
APP_NAME=Document Q&A Chatbot System

# backed and frontend port and url
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
FRONTEND_URL=http://127.0.0.1:8080

# openai api key
OPENAI_API_KEY=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